* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

header {
  height: 40px;

  border: 2px solid gray;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
}

div.left {
  border: 2px solid red;

  min-height: calc(100vh - 40px);
  /* min-height: 100%; */ /*<--- nem ugyanaz, mint a vh (viewport height), mert a % a szülő elem méretéből indul ki */

  width: 30vw;

  display: flex;
  flex-direction: column;
}

div.left button {
  background-color: transparent;
  padding: 5px;
  border: 0;
  text-align: left;
}

div.left button:hover {
  cursor: pointer;
  background-color: gray;
}

div.center {
  border: 2px solid blue;
  
  min-height: calc(100vh - 40px);

  width: 40vw;

  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

div.right {
  border: 2px solid yellow;
  
  min-height: calc(100vh - 40px);

  width: 30vw;
}