* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  color: inherit;
}

header {
  position: fixed;

  height: 40px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  background-color: #242526;

  z-index: 1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #18191a;
  color: #efe7e7;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 900px;
  margin-top: 60px;
}

div.left {
  min-height: calc(100vh - 40px);
  /* min-height: 100%; */ /*<--- nem ugyanaz, mint a vh (viewport height), mert a % a szülő elem méretéből indul ki */

  width: 30%;

  display: flex;
  flex-direction: column;

  position: fixed;
  top: 60px;
  left: 200px;
}

div.left button {
  background-color: transparent;
  padding: 5px;
  border: 0;
  text-align: left;
}

div.left button:hover {
  cursor: pointer;
  background-color: gray;
}

div.center {
  min-height: calc(100vh - 40px);

  width: 40%;

  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;

  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 20px;
}

div.center div.card-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 10px;
}

div.center div.card {
  border: 2px solid brown;

  min-width: 80px;
  height: 160px;
}

div.post {
  background-color: #242526;
  padding: 10px;
}

div.center div.post div.img {
  width: 100%;
  height: 300px;

  background-color: gray;
}

div.right {
  min-height: calc(100vh - 40px);

  width: 30%;

  position: fixed;
  top: 60px;
  right: 50px;
}

div.right ul {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.right ul li {
  margin-left: 30px;

  position: relative;
}

div.right ul li::before {
  content: "";

  width: 20px;
  height: 20px;

  border: 1px solid #fff;
  border-radius: 50%;

  position: absolute;
  top: -2px;
  left: -30px;
}
